#root {
  display: flex;
  flex-flow: column;
  width: 97vw;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  padding: 0.5%;
  align-items: end;
}

#loginWrapper,
#wrapper {
  display: flex;
  flex-flow: row;
  align-items: start;
  justify-content: space-between;
  width: 98%;
}

#wrapper {
  margin: 1% 0;
  gap: 3%;
}

#asideForms {
  display: flex;
  flex-flow: column wrap;
  width: 25%;
  gap: 10px;
}

#mainContent {
  display: flex;
  flex-flow: column wrap;
  width: 75%;
}

.dendrogram {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start; /* or 'stretch' */
  justify-content: flex-start;
  height: 80vh;
  width: 65vw;
  border: 1.5px solid #e4eeef;
  background: #fff;
  background-image: radial-gradient(#e0e0e0 1px, transparent 1px);
  background-size: 25px 25px;
  border-radius: 8px;
  padding: 1rem;
  overflow: hidden;
  justify-content: flex-start;
  align-items: flex-start;
}

.dendrogram svg:active,
.dendrogram svg:active * {
  cursor: grabbing !important;
}

.dendrogramDemo {
  width: 80%;
  height: 55vh;
}
