#root {
  display: flex;
  flex-flow: column;
  width: 98vw;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  padding: 0.5%;
  align-items: end;
}

#mainBody {
  display: flex;
  flex-flow: row;
  width: 98%;
  gap: 5%;
}

aside{
  display: flex;
  flex-flow: column wrap;
  width: 20%;
}

main {
  display: flex;
  flex-flow: column wrap;
  width: 75%;
}
