#root {
  display: flex;
  flex-flow: column;
  width: 97vw;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  padding: 0.5%;
  align-items: end;
}

#mainBody {
  display: flex;
  flex-flow: row wrap;
  width: 98%;
  align-items: start;
}

aside {
  display: flex;
  flex-flow: column wrap;
  margin-top: 2%;
  width: 25%;
}

main {
  display: flex;
  flex-flow: column wrap;
  width: 75%;
}

.dendrogram {
  width: 100%;
  height: 80vh;
}